DB_URL=jdbc:mysql://127.0.0.1:3306/catmate?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=070911
SERVER_PORT=8080
CORS_ORIGIN=http://localhost:5173
